<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SuperHeroes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" (click)="onHome()">Home</button>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="loggedUser">
          <span class="nav-link">{{ loggedUser.username }}</span>
        </li>
        <li class="nav-item">
          <button 
            *ngIf="!loggedUser"
            class="nav-link"
            (click)="onLogin()"
          >
            Login
          </button>
          <button 
            *ngIf="loggedUser"
            class="nav-link"
            (click)="onLogout()"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

